<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Главная</title>

    <link href="/static/css/reset_file.css" rel="stylesheet" type="text/css">
    <link href="/static/css/base.css" rel="stylesheet" type="text/css">
    <link href="/static/css/category_detail.css" rel="stylesheet" type="text/css">
    <link href="/static/css/product_detail.css" rel="stylesheet" type="text/css">
    <link href="/static/css/cart.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap" rel="stylesheet">

</head>
<body>

    <section class="header">
        <div class="container">
            <ul class="header__list">
                <li class="header__item"><a href="/"><img src="/static/img/logo.png" class="logo header-logo" alt=""></a></li>
                <li class="header__item">
                    <div class="header__burger">
                        <p class="header__link">Категории</p>
                    </div>
                    <nav class="header__menu">
                        <ul class="header__item">
                            {% for category in categories %}
                                <li class="header__list_item">
                                    <a href="{{ category.url }}" class="header__link">{{ category.name }} ({{ category.count }})</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </nav>
                </li>
                <li class="header__item">
                    <ul class="header__list">
                        <li class="header__item"><a href="" class="header__link">Личный кабинет</a></li>
                        <li class="header__item"><a href="{% url 'cart' %}" class="header__link header__cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i><span class="cart__count">{{ cart.product.count }}</span></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </section>

    <section class="search">
        <div class="container search__container">
            <div class="search__item">
                <h2>Строка поиска</h2>
            </div>
        </div>
    </section>

    {% block content %}

    <section class="main">
        <div class="container main__container">
            {% for category in categories %}
                <a class="main__block" href="{{ category.url }}">
                    <h3 class="block__title">{{category.name}}</h3>
                </a>
            {% endfor %}
        </div>
    </section>

    <section class="contacts">
        <div class="container contacts__container">
            <div class="contacts__block">
            <h2 class="contacts__title">Контакты</h2>
            <div class="contacts__numbers">
                <p>+375 29 3481101</p>
                <p>+375 44 0017177</p>
                <p>+375 33 9996699</p>
            </div>
            <p class="contacts__address">г. Минск, пр. Независимости 999, к. 2А</p>
            </div>
            <div class="contacts__block contacts__map">
                <h1>Карта</h1>
            </div>
        </div>
    </section>

    {% endblock content %}

    <section class="footer">
        <div class="container footer__container">
            <p class="footer__text">created by Artsemi Marozau <span class="footer__r">®</span> 2021</p>
        </div>
    </section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="/static/js/base.js"></script>

</body>
</html>
