{% extends 'base.html' %}

{% block content %}
    <section class="cart">
        <div class="container cart__container">
            <h2 class="cart__your-cart">Ваша корзина {% if not cart.product.count %}пуста{% endif %}</h2>
            {% if cart.product.count %}
                <table class="cart__table">
                    <thead>
                        <tr class="cart__head">
                            <th class="cart__col-title">Наименование</th>
                            <th class="cart__col-img">Изображение</th>
                            <th class="cart__col-price">Цена</th>
                            <th class="cart__col-qty">Количество</th>
                            <th class="cart__col-total-price">Общая цена</th>
                            <th class="cart__col-delete">Удалить</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in cart.product.all %}
                            <tr>
                                <th class="fs-20 fw-600">{{ item.content_object.title }}</th>
                                <th>
                                    <img src="{{ item.content_object.image.url }}" alt="" class="products__image">
                                </th>
                                <th class="fs-20 fw-500">{{ item.content_object.price }} BYN</th>
                                <th>
                                    <form class="cart__form" action="{% url 'change_qty' ct_model=item.content_object.get_model_name slug=item.content_object.slug %}" method="POST">
                                        {% csrf_token %}
                                        <input type="submit" value="Изменить" class="products__button cart__button">
                                        <input class="cart__qty" type="number" name="qty" min="1" value="{{ item.qty }}">
                                    </form>
                                </th>
                                <th class="fs-20 fw-500">{{ item.final_price }} BYN</th>
                                <th>
                                    <a class="cart__button" href="{% url 'delete_from_cart' ct_model=item.content_object.get_model_name slug=item.content_object.slug %}">
                                        <button class="products__button">Удалить</button>
                                    </a>
                                </th>
                            </tr>
                        {% endfor %}
                        <tr>
                            <th class="fs-20 fw-600" colspan="3">Итого</th>
                            <th class="fs-20 fw-600">{{ cart.total_products }}</th>
                            <th class="fs-20 fw-600">{{ cart.final_price }}BYN</th>
                        </tr>
                    </tbody>
                </table>
            <div class="cart__go-to-checkout">
                <a href="{% url 'checkout' %}">
                    <button class="products__button">Оформить заказ</button>
                </a>
            </div>
            {% endif %}
        </div>
    </section>
{% endblock content %}





<!--    <div class="alert alert-success alert-dismissible fade show" role="alert">-->
<!--      <strong>{{ message }}</strong>-->
<!--      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>-->
<!--    </div>-->
