<table class="product-main__table">
    <tbody>
        <tr class="product-main__row">
            <td class="product-main__col">Дата выхода на рынок</td>
            <td class="product-main__col">{{ product.market_date }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Размер экрана</td>
            <td class="product-main__col">{{ product.screen_size }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Тип экрана</td>
            <td class="product-main__col">{{ product.screen_type }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Технология экрана</td>
            <td class="product-main__col">{{ product.screen_technology }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Разрешение экрана</td>
            <td class="product-main__col">{{ product.screen_resolution }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Версия операционной системы</td>
            <td class="product-main__col">{{ product.os_version }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Оперативная память</td>
            <td class="product-main__col">{{ product.ram }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Флэш-память</td>
            <td class="product-main__col">{{ product.flash_memory }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Встроенная камера</td>
            <td class="product-main__col">{{ product.built_in_camera }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Материал корпуса</td>
            <td class="product-main__col">{{ product.body_material }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Цвет корпуса</td>
            <td class="product-main__col">{{ product.body_color }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Ширина</td>
            <td class="product-main__col">{{ product.width }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Длина</td>
            <td class="product-main__col">{{ product.length }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Толщина</td>
            <td class="product-main__col">{{ product.thickness }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Вес</td>
            <td class="product-main__col">{{ product.weight }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Сенсорный экран</td>
            <td class="product-main__col">{{ product.touch_screen }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Подсветка экрана</td>
            <td class="product-main__col">{{ product.screen_backlight }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Поддержка текстовых форматов</td>
            <td class="product-main__col">{{ product.support_txt_format }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Поддержка фото форматов</td>
            <td class="product-main__col">{{ product.support_photo_format }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Поддержка аудио форматов</td>
            <td class="product-main__col">{{ product.support_audio_format }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Поддержка архивов</td>
            <td class="product-main__col">{{ product.support_archive }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Поддержка видео форматов</td>
            <td class="product-main__col">{{ product.support_video_format }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Поддержка карт памяти</td>
            <td class="product-main__col">{{ product.memory_card_support }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Запись звука</td>
            <td class="product-main__col">{{ product.sound_recording }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Встроенный динамик</td>
            <td class="product-main__col">{{ product.built_in_speaker }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Встроенный микрофон</td>
            <td class="product-main__col">{{ product.built_in_microphone }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Bluetooth</td>
            <td class="product-main__col">{{ product.bluetooth }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Аудиовыход</td>
            <td class="product-main__col">{{ product.audio_output }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Wi-Fi</td>
            <td class="product-main__col">{{ product.wifi }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">3G-модем</td>
            <td class="product-main__col">{{ product.modem_3g }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">USB</td>
            <td class="product-main__col">{{ product.usb }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Тип аккумулятора</td>
            <td class="product-main__col">{{ product.battery_type }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Емкость аккумулятора</td>
            <td class="product-main__col">{{ product.battery_capacity }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Время автономной работы</td>
            <td class="product-main__col">{{ product.battery_life }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Время зарядки</td>
            <td class="product-main__col">{{ product.charging_time }}</td>
        </tr>
    </tbody>
</table>
