<table class="product-main__table">
    <tbody>
        <tr class="product-main__row">
            <td class="product-main__col">Дата выхода на рынок</td>
            <td class="product-main__col">{{ product.market_date }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Тип</td>
            <td class="product-main__col">{{ product.type }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Технология переключателя</td>
            <td class="product-main__col">{{ product.switch_technology }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Назначение</td>
            <td class="product-main__col">{{ product.appointment }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Цвет</td>
            <td class="product-main__col">{{ product.color }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Интерфейс подключения клавиатуры</td>
            <td class="product-main__col">{{ product.connection_interface }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Цифровой блок</td>
            <td class="product-main__col">{{ product.digital_block }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Длина провода</td>
            <td class="product-main__col">{{ product.wire_length }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Материал корпуса</td>
            <td class="product-main__col">{{ product.body_material }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Дополнительные кнопки</td>
            <td class="product-main__col">{{ product.additional_buttons }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Форма клавиш</td>
            <td class="product-main__col">{{ product.key_shape }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Тип переключателя</td>
            <td class="product-main__col">{{ product.switch_type }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Встроенная память</td>
            <td class="product-main__col">{{ product.built_in_memory }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Подсветка клавиш</td>
            <td class="product-main__col">{{ product.key_illumination }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Оплетка провода</td>
            <td class="product-main__col">{{ product.wire_braid }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">USB-порт</td>
            <td class="product-main__col">{{ product.usb }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Аудиовход</td>
            <td class="product-main__col">{{ product.audio_input }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Аудиовыход</td>
            <td class="product-main__col">{{ product.audio_output }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Ширина</td>
            <td class="product-main__col">{{ product.width }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Глубина</td>
            <td class="product-main__col">{{ product.depth }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Толщина</td>
            <td class="product-main__col">{{ product.thickness }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Вес</td>
            <td class="product-main__col">{{ product.weight }}</td>
        </tr>
    </tbody>
</table>
