<table class="product-main__table">
    <tbody>
        <tr class="product-main__row">
            <td class="product-main__col">Дата выхода на рынок</td>
            <td class="product-main__col">{{ product.market_date }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Тип</td>
            <td class="product-main__col">{{ product.type }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Номинальная мощность (RMS)</td>
            <td class="product-main__col">{{ product.rms }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Питание</td>
            <td class="product-main__col">{{ product.supply }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Цвет</td>
            <td class="product-main__col">{{ product.color }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Стереодинамики</td>
            <td class="product-main__col">{{ product.stereo_speakers }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Панорамное аудио</td>
            <td class="product-main__col">{{ product.panoramic_audio }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Количество полос</td>
            <td class="product-main__col">{{ product.number_of_stripes }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Количество динамиков</td>
            <td class="product-main__col">{{ product.number_of_speakers }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Количество пассивных динамиков</td>
            <td class="product-main__col">{{ product.number_of_passive_speakers }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Акустическое оформление</td>
            <td class="product-main__col">{{ product.acoustic_design }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Частотный диапазон</td>
            <td class="product-main__col">{{ product.frequency_range }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Диаметр НЧ-динамика (вуфера)</td>
            <td class="product-main__col">{{ product.woofer_diameter }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Диаметр СЧ-динамика</td>
            <td class="product-main__col">{{ product.midrange_speaker_diameter }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Диаметр ВЧ-динамика (твитера)</td>
            <td class="product-main__col">{{ product.tweeter_diameter }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Диаметр широкополосного динамика</td>
            <td class="product-main__col">{{ product.speaker_diameter }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Материал корпуса</td>
            <td class="product-main__col">{{ product.body_material }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Дисплей</td>
            <td class="product-main__col">{{ product.display }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Голосовой ассистент</td>
            <td class="product-main__col">{{ product.voice_assistant }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Стриминговые сервисы</td>
            <td class="product-main__col">{{ product.streaming_services }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Поддержка аудиокодеков Bluetooth</td>
            <td class="product-main__col">{{ product.audio_codec_support }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Синхронизация</td>
            <td class="product-main__col">{{ product.sync }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Пульт ДУ</td>
            <td class="product-main__col">{{ product.remote_control }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Подсветка корпуса</td>
            <td class="product-main__col">{{ product.body_backlight }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Bluetooth</td>
            <td class="product-main__col">{{ product.bluetooth }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Wi-Fi</td>
            <td class="product-main__col">{{ product.wifi }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">DLNA</td>
            <td class="product-main__col">{{ product.dlna }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">USB</td>
            <td class="product-main__col">{{ product.usb }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Ethernet</td>
            <td class="product-main__col">{{ product.ethernet }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Тип аккумулятора</td>
            <td class="product-main__col">{{ product.battery_type }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Время работы</td>
            <td class="product-main__col">{{ product.working_hours }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Время зарядки</td>
            <td class="product-main__col">{{ product.charging_time }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Емкость аккумулятора</td>
            <td class="product-main__col">{{ product.battery_capacity }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Ширина</td>
            <td class="product-main__col">{{ product.width }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Глубина</td>
            <td class="product-main__col">{{ product.depth }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Высота</td>
            <td class="product-main__col">{{ product.height }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Вес</td>
            <td class="product-main__col">{{ product.weight }}</td>
        </tr>
    </tbody>
</table>
