<table class="product-main__table">
    <tbody>
        <tr class="product-main__row">
            <td class="product-main__col">Совместимость</td>
            <td class="product-main__col">{{ product.compatibility }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Материал поверхности</td>
            <td class="product-main__col">{{ product.material }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Цвет</td>
            <td class="product-main__col">{{ product.color }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Бортик</td>
            <td class="product-main__col">{{ product.sideboard }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Функциональные особенности</td>
            <td class="product-main__col">{{ product.functional_features }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Длина кабеля</td>
            <td class="product-main__col">{{ product.cable_length }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Ширина</td>
            <td class="product-main__col">{{ product.width }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Глубина</td>
            <td class="product-main__col">{{ product.depth }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Толщина</td>
            <td class="product-main__col">{{ product.thickness }}</td>
        </tr>
    </tbody>
</table>
