<table class="product-main__table">
    <tbody>
        <tr class="product-main__row">
            <td class="product-main__col">Тип</td>
            <td class="product-main__col">{{ product.type }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Назначение</td>
            <td class="product-main__col">{{ product.appointment }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Вид</td>
            <td class="product-main__col">{{ product.view }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Беспроводной интерфейс</td>
            <td class="product-main__col">{{ product.wireless_interface }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Материал корпуса</td>
            <td class="product-main__col">{{ product.body_material }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Поп-фильтр</td>
            <td class="product-main__col">{{ product.pop_filter }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Разъем(-ы) на микрофоне</td>
            <td class="product-main__col">{{ product.microphone_jack }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Разъем(-ы) подключения</td>
            <td class="product-main__col">{{ product.connector }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Цвет</td>
            <td class="product-main__col">{{ product.color }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Направленность</td>
            <td class="product-main__col">{{ product.focus }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Изменяемая направленность</td>
            <td class="product-main__col">{{ product.variable_focus }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Частота дискретизации</td>
            <td class="product-main__col">{{ product.sampling_frequency }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Нижняя граница частотного диапазона</td>
            <td class="product-main__col">{{ product.bottom_frequency_range_boundary }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Верхняя граница частотного диапазона</td>
            <td class="product-main__col">{{ product.top_frequency_range_boundary }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Диаметр диафрагмы</td>
            <td class="product-main__col">{{ product.diaphragm_diameter }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Соотношение сигнал/шум</td>
            <td class="product-main__col">{{ product.signal_to_noise_ratio }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Чувствительность</td>
            <td class="product-main__col">{{ product.sensitivity }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Макс. уровень звукового давления (SPL)</td>
            <td class="product-main__col">{{ product.spl }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Коэф. гармонических искажений</td>
            <td class="product-main__col">{{ product.coefficient_harmonic_distortion }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Индикация на микрофоне</td>
            <td class="product-main__col">{{ product.microphone_indication }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Длина кабеля</td>
            <td class="product-main__col">{{ product.cable_length }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Выход на наушники</td>
            <td class="product-main__col">{{ product.headphone_out }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Элементы управления</td>
            <td class="product-main__col">{{ product.control_elements }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Питание микрофона</td>
            <td class="product-main__col">{{ product.microphone_power }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Подсветка</td>
            <td class="product-main__col">{{ product.backlight }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">USB для периферии</td>
            <td class="product-main__col">{{ product.usb }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Цифровые эффекты</td>
            <td class="product-main__col">{{ product.digital_effects }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Вес</td>
            <td class="product-main__col">{{ product.weight }}</td>
        </tr>
    </tbody>
</table>
