<table class="product-main__table">
    <tbody>
        <tr class="product-main__row">
            <td class="product-main__col">Дата выхода на рынок</td>
            <td class="product-main__col">{{ product.market_date }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Диагональ</td>
            <td class="product-main__col">{{ product.diagonal }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Соотношение сторон</td>
            <td class="product-main__col">{{ product.aspect_ratio }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Разрешение</td>
            <td class="product-main__col">{{ product.resolution }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Тип</td>
            <td class="product-main__col">{{ product.type }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Матрица</td>
            <td class="product-main__col">{{ product.matrix }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Изогнутый экран</td>
            <td class="product-main__col">{{ product.curved_screen }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Радиус изгиба</td>
            <td class="product-main__col">{{ product.bending_radius }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Частота обновления экрана</td>
            <td class="product-main__col">{{ product.screen_refresh_rate }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Отсутствие мерцания (Flicker-free)</td>
            <td class="product-main__col">{{ product.flicker_free }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Цвет корпуса</td>
            <td class="product-main__col">{{ product.body_color }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Цвет подставки</td>
            <td class="product-main__col">{{ product.stand_color }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Расширенный динамический диапазон (HDR)</td>
            <td class="product-main__col">{{ product.hdr }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Поверхность экрана</td>
            <td class="product-main__col">{{ product.screen_surface }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Сенсорный экран</td>
            <td class="product-main__col">{{ product.touch_screen }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Динамическая частота обновления экрана</td>
            <td class="product-main__col">{{ product.dynamic_refresh_rate }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Технология синхронизации кадров</td>
            <td class="product-main__col">{{ product.frame_sync_technology }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Яркость</td>
            <td class="product-main__col">{{ product.brightness }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Контрастность</td>
            <td class="product-main__col">{{ product.contrast }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Цветовой охват sRGB</td>
            <td class="product-main__col">{{ product.srgb }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Цветовой охват DCI-P3</td>
            <td class="product-main__col">{{ product.dci_p3 }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Время отклика (GtG)</td>
            <td class="product-main__col">{{ product.gtg }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Угол обзора по горизонтали</td>
            <td class="product-main__col">{{ product.horizontal_viewing_angle }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Угол обзора по вертикали</td>
            <td class="product-main__col">{{ product.vertical_viewing_angle }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Блок питания</td>
            <td class="product-main__col">{{ product.power_supply }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Встроенные динамики</td>
            <td class="product-main__col">{{ product.built_in_speakers }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Камера</td>
            <td class="product-main__col">{{ product.camera }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Микрофон</td>
            <td class="product-main__col">{{ product.microphone }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Безрамочный дизайн</td>
            <td class="product-main__col">{{ product.frameless_design }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">MHL</td>
            <td class="product-main__col">{{ product.mhl }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Bluetooth</td>
            <td class="product-main__col">{{ product.bluetooth }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Wi-Fi</td>
            <td class="product-main__col">{{ product.wifi }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Интерфейс подключения</td>
            <td class="product-main__col">{{ product.connection_interface }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Выход на наушники</td>
            <td class="product-main__col">{{ product.headphone_out }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">USB</td>
            <td class="product-main__col">{{ product.usb }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">HDMI</td>
            <td class="product-main__col">{{ product.hdmi }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Ethernet</td>
            <td class="product-main__col">{{ product.ethernet }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Крепление VESA</td>
            <td class="product-main__col">{{ product.vesa }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Поворот вправо-влево</td>
            <td class="product-main__col">{{ product.turn_left_right }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Портретный режим</td>
            <td class="product-main__col">{{ product.portrait_mode }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Максимальный угол наклона экрана</td>
            <td class="product-main__col">{{ product.max_screen_tilt_angle }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Ширина</td>
            <td class="product-main__col">{{ product.width }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Глубина</td>
            <td class="product-main__col">{{ product.depth }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Высота</td>
            <td class="product-main__col">{{ product.height }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Вес</td>
            <td class="product-main__col">{{ product.weight }}</td>
        </tr>
    </tbody>
</table>
