<table class="product-main__table">
    <tbody>
        <tr class="product-main__row">
            <td class="product-main__col">Интерфейс подключения мыши</td>
            <td class="product-main__col">{{ product.connection_interface }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Тип</td>
            <td class="product-main__col">{{ product.type }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Назначение</td>
            <td class="product-main__col">{{ product.appointment }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Размер мыши</td>
            <td class="product-main__col">{{ product.size }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Тип сенсора</td>
            <td class="product-main__col">{{ product.sensor_type }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Модель сенсора</td>
            <td class="product-main__col">{{ product.sensor_model }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Максимальное разрешение сенсора</td>
            <td class="product-main__col">{{ product.max_sensor_resolution }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Максимальная частота опроса</td>
            <td class="product-main__col">{{ product.max_polling_rate }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Материал корпуса</td>
            <td class="product-main__col">{{ product.body_material }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Подсветка</td>
            <td class="product-main__col">{{ product.backlight }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Цвет</td>
            <td class="product-main__col">{{ product.color }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Длина провода</td>
            <td class="product-main__col">{{ product.wire_length }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Изменяемое разрешение</td>
            <td class="product-main__col">{{ product.variable_resolution }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Встроенная память</td>
            <td class="product-main__col">{{ product.built_in_memory }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Время отклика</td>
            <td class="product-main__col">{{ product.response_time }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col"></td>
            <td class="product-main__col">{{ product. }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Количество кнопок</td>
            <td class="product-main__col">{{ product.number_of_buttons }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Количество колёс прокрутки</td>
            <td class="product-main__col">{{ product.number_of_scroll_wheels }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Тип колеса прокрутки</td>
            <td class="product-main__col">{{ product.scroll_wheel_type }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Оплетка провода</td>
            <td class="product-main__col">{{ product.wire_braid }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Тихий клик</td>
            <td class="product-main__col">{{ product.quiet_click }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Ширина</td>
            <td class="product-main__col">{{ product.width }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Длина</td>
            <td class="product-main__col">{{ product.length }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Высота</td>
            <td class="product-main__col">{{ product.height }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Вес</td>
            <td class="product-main__col">{{ product.weight }}</td>
        </tr>
    </tbody>
</table>
