<table class="product-main__table">
  <tbody>
    <tr class="product-main__row">
      <td class="product-main__col">Диагональ</td>
      <td class="product-main__col">{{ product.diagonal }}</td>
    </tr>
    <tr class="product-main__row">
      <td class="product-main__col">Тип дисплея</td>
      <td class="product-main__col">{{ product.display_type }}</td>
    </tr>
    <tr class="product-main__row">
      <td class="product-main__col">Частота процессора</td>
      <td class="product-main__col">{{ product.processor_freq }}</td>
    </tr>
    <tr class="product-main__row">
      <td class="product-main__col">Оперативная карта</td>
      <td class="product-main__col">{{ product.ram }}</td>
    </tr>
    <tr class="product-main__row">
      <td class="product-main__col">Видеокарта</td>
      <td class="product-main__col">{{ product.video }}</td>
    </tr>
    <tr class="product-main__row">
      <td class="product-main__col">Время работы аккумулятора</td>
      <td class="product-main__col">{{ product.time_without_charge }}</td>
    </tr>
  </tbody>
</table>