<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Главная</title>

    <link href="../static/css/reset_file.css" rel="stylesheet" type="text/css">
    <link href="../static/css/base.css" rel="stylesheet" type="text/css">
    <link href="../static/css/category_detail.css" rel="stylesheet" type="text/css">
    <link href="../static/css/product_detail.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap" rel="stylesheet">

</head>
<body>

    <section class="header">
        <div class="container">
            <ul class="header__list">
                <li class="header__item"><a href=""><img src="../static/img/logo.png" class="logo header-logo" alt=""></a></li>
                <li class="header__item">
                    <div class="header__burger">
                        <p class="header__link">Категории</p>
                    </div>
                    <nav class="header__menu">
                        <ul class="header__item">
                            {% for category in categories %}
                                <li class="header__list_item">
                                    <a href="{{ category.url }}" class="header__link">{{ category.name }} ({{ category.count }})</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </nav>
                </li>
                <li class="header__item">
                    <ul class="header__list">
                        <li class="header__item"><a href="" class="header__link">Личный кабинет</a></li>
                        <li class="header__item"><a href="{% url 'cart' %}" class="header__link header__cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i><span class="cart__count">{{ cart.product.count }}</span></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </section>

    <section class="search">
        <div class="container search__container">
            <div class="search__item">
                <h1>Строка поиска</h1>
            </div>
        </div>
    </section>

    <section class="breadcrumb">
        <div class="container breadcrumb__container">
            <ul class="breadcrumb__view">
                <li class="breadcrumb__item"><a href="" class="breadcrumb__link">Главная</a>
                <li class="breadcrumb__item"><p class="breadcrumb__slash">|</p></li>
                <li class="breadcrumb__item breadcrumb__last-item"><a href="" class="breadcrumb__link">{{ category.name}}</a></li>
                <li class="breadcrumb__item"><p class="breadcrumb__slash">|</p></li>
                <li class="breadcrumb__item breadcrumb__last-item"><p class="breadcrumb__last-item">Название</p></li>
                </li>
            </ul>
        </div>
    </section>

    <section class="product-main">
        <div class="container product-main__container">
            <div class="product-main__top-block">
                <img src="../static/img/smartphone_category.jpg" alt="" class="product-main__image">
                <div class="product-main__description">
                    <h2 class="product-main__title">НОВЫЙ НОУТБУК АСЕР!</h2>
                    <p class="product-main__briefly">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid enim facere illum ipsum molestias praesentium quibusdam! Corporis debitis esse fuga iusto, minus placeat tempore? Accusantium consectetur exercitationem porro possimus qui? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid amet atque facere labore nam nulla quam sed suscipit unde velit? Asperiores fugiat fugit id illum in laudantium qui soluta sunt!</p>
                    <h4 class="product-main__price">1579.04 BYN</h4>
                    <a href="" class="product-main__add-to-cart">
                        <button class="products__button">Добавить в корзину</button>
                    </a>
                </div>
            </div>
            <div class="product-main__characteristics">
                <table class="product-main__table">
                    <tbody>
                        <tr class="product-main__row">
                            <td class="product-main__col">Диагональ</td>
                            <td class="product-main__col">{{ product.diagonal }}</td>
                        </tr>
                        <tr class="product-main__row">
                            <td class="product-main__col">Тип дисплея</td>
                            <td class="product-main__col">{{ product.display_type }}</td>
                        </tr>
                        <tr class="product-main__row">
                            <td class="product-main__col">Частота процессора</td>
                            <td class="product-main__col">{{ product.processor_freq }}</td>
                        </tr>
                        <tr class="product-main__row">
                            <td class="product-main__col">Оперативная карта</td>
                            <td class="product-main__col">{{ product.ram }}</td>
                        </tr>
                        <tr class="product-main__row">
                            <td class="product-main__col">Видеокарта</td>
                            <td class="product-main__col">{{ product.video }}</td>
                        </tr>
                        <tr class="product-main__row">
                            <td class="product-main__col">Время работы аккумулятора</td>
                            <td class="product-main__col">{{ product.time_without_charge }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <section class="footer">
        <div class="container footer__container">
            <p class="footer__text">created by Artsemi Marozau <span class="footer__r">®</span> 2021</p>
        </div>
    </section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="../static/js/base.js"></script>

</body>
</html>





<!--{% extends 'base.html' %}-->

<!--{% load specifications %}-->

<!--{% block content %}-->

<!--<nav aria-label="breadcrumb">-->
<!--  <ol class="breadcrumb">-->
<!--    <li class="breadcrumb-item"><a href="{% url 'base' %}">Домашняя</a></li>-->
<!--    <li class="breadcrumb-item"><a href="#">{{ product.category.name}}</a></li>-->
<!--    <li class="breadcrumb-item active" aria-current="page">{{ product.title }}</li>-->
<!--  </ol>-->
<!--</nav>-->

<!--<div class="row">-->
<!--    <div class="col-md-4">-->
<!--        <img src="{{ product.image.url }}" class="image-fluid">-->
<!--    </div>-->
<!--    <div class="col-md-8">-->
<!--        <h3>{{ product.title }}</h3>-->
<!--        <p>Цена: {{ product.price }} BYN</p>-->
<!--        <p>Описание: {{ product.description }}</p>-->
<!--        <a href="{% url 'add_to_cart' ct_model=ct_model slug=product.slug %}"><button class="btn btn-danger">Добавить в корзину</button></a>-->
<!--    </div>-->
<!--    <div class="mt-4">-->
<!--        <p class="mt-4">Характеристики: </p>-->
<!--        {{ product|product_spec }}-->
<!--    </div>-->

<!--</div>-->

<!--{% endblock content %}-->