<table class="product-main__table">
    <tbody>
        <tr class="product-main__row">
            <td class="product-main__col">Дата выхода на рынок</td>
            <td class="product-main__col">{{ product.market_date }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Флэш-память</td>
            <td class="product-main__col">{{ product.flash_memory }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Встроенная камера</td>
            <td class="product-main__col">{{ product.built_in_camera }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Тип</td>
            <td class="product-main__col">{{ product.type }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Поддержка платформ/td>
            <td class="product-main__col">{{ product.platform_support }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Материал корпуса</td>
            <td class="product-main__col">{{ product.body_material }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Цвет корпуса</td>
            <td class="product-main__col">{{ product.body_color }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Встроенный музыкальный плеер</td>
            <td class="product-main__col">{{ product.built_in_music_player }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Звонки</td>
            <td class="product-main__col">{{ product.calls }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Голосовое управление</td>
            <td class="product-main__col">{{ product.voice_control }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Дистанционное управление</td>
            <td class="product-main__col">{{ product.remote_control }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Бесконтактные платежи</td>
            <td class="product-main__col">{{ product.contactless_payments }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Вибрация</td>
            <td class="product-main__col">{{ product.vibration }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Ширина</td>
            <td class="product-main__col">{{ product.width }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Глубина</td>
            <td class="product-main__col">{{ product.depth }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Толщина</td>
            <td class="product-main__col">{{ product.thickness }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Вес</td>
            <td class="product-main__col">{{ product.weight }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Размеры браслета</td>
            <td class="product-main__col">{{ product.bracelet_size }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Технология экрана</td>
            <td class="product-main__col">{{ product.screen_technology }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Количество цветов экрана</td>
            <td class="product-main__col">{{ product.number_of_screen_colors }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Размер экрана</td>
            <td class="product-main__col">{{ product.screen_size }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Разрешение экрана</td>
            <td class="product-main__col">{{ product.screen_resolution }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Разрешающая способность экрана</td>
            <td class="product-main__col">{{ product.screen_ability_resolution }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Сенсорный экран</td>
            <td class="product-main__col">{{ product.touch_screen }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Защита от царапин</td>
            <td class="product-main__col">{{ product.scratch_protection }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Акселерометр</td>
            <td class="product-main__col">{{ product.accelerometer }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Гироскоп</td>
            <td class="product-main__col">{{ product.gyroscope }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Датчик освещенности</td>
            <td class="product-main__col">{{ product.light_sensor }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Барометр</td>
            <td class="product-main__col">{{ product.barometer }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Шагомер</td>
            <td class="product-main__col">{{ product.pedometer }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Пульсометр</td>
            <td class="product-main__col">{{ product.heart_rate }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Датчик ЭКГ</td>
            <td class="product-main__col">{{ product.ecg_sensor }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Компас</td>
            <td class="product-main__col">{{ product.compass }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Глубиномер</td>
            <td class="product-main__col">{{ product.depth_gauge }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">GPS</td>
            <td class="product-main__col">{{ product.gps }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">ГЛОНАСС</td>
            <td class="product-main__col">{{ product.glonass }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Bluetooth</td>
            <td class="product-main__col">{{ product.bluetooth }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Аудиовыход</td>
            <td class="product-main__col">{{ product.audio_output }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Wi-Fi</td>
            <td class="product-main__col">{{ product.wifi }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">USB</td>
            <td class="product-main__col">{{ product.usb }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">NFC</td>
            <td class="product-main__col">{{ product.nfc }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Тип аккумулятора</td>
            <td class="product-main__col">{{ product.battery_type }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Емкость аккумулятора</td>
            <td class="product-main__col">{{ product.battery_capacity }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Время работы</td>
            <td class="product-main__col">{{ product.working_hours }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Беспроводная зарядка</td>
            <td class="product-main__col">{{ product.wireless_charger }}</td>
        </tr>
    </tbody>
</table>
