<table class="product-main__table">
  <tbody>
    <tr class="product-main__row">
      <td class="product-main__col">Диагональ</td>
      <td class="product-main__col">{{ product.diagonal }}</td>
    </tr>
    <tr class="product-main__row">
      <td class="product-main__col">Тип дисплея</td>
      <td class="product-main__col">{{ product.display_type }}</td>
    </tr>
    <tr class="product-main__row">
      <td class="product-main__col">Разрешение экрана</td>
      <td class="product-main__col">{{ product.resolution }}</td>
    </tr>
    <tr class="product-main__row">
      <td class="product-main__col">Объем батареи</td>
      <td class="product-main__col">{{ product.accum_volume }}</td>
    </tr>
    <tr class="product-main__row">
      <td class="product-main__col">Оперативная память</td>
      <td class="product-main__col">{{ product.ram }}</td>
    </tr>
    <tr class="product-main__row">
      <td class="product-main__col">Наличие слота для SD карты</td>
    </tr>
    <tr class="product-main__row">
      <td class="product-main__col">Максимальный объем SD карты</td>
      <td class="product-main__col">{{ product.sd_volume_max }}</td>
    </tr>
    <tr class="product-main__row">
      <td class="product-main__col">Главная камера (МП)</td>
      <td class="product-main__col">{{ product.main_cam_mp }}</td>
    </tr>
    <tr class="product-main__row">
      <td class="product-main__col">Фронтальная камера (МП)</td>
      <td class="product-main__col">{{ product.frontal_cam_mp }}</td>
    </tr>
  </tbody>
</table>