<table class="product-main__table">
    <tbody>
        <tr class="product-main__row">
            <td class="product-main__col">Дата выхода на рынок</td>
            <td class="product-main__col">{{ product.market_date }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Назначение</td>
            <td class="product-main__col">{{ product.appointment }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Диагональ экрана</td>
            <td class="product-main__col">{{ product.screen_diagonal }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Разрешение экрана</td>
            <td class="product-main__col">{{ product.screen_resolution }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Матрица экрана</td>
            <td class="product-main__col">{{ product.screen_matrix }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Операционная система</td>
            <td class="product-main__col">{{ product.os }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Версия операционной системы</td>
            <td class="product-main__col">{{ product.version_operating_system }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Процессор</td>
            <td class="product-main__col">{{ product.cpu }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Графический ускоритель</td>
            <td class="product-main__col">{{ product.graphics_accelerator }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Оперативная память</td>
            <td class="product-main__col">{{ product.ram }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Внутренняя память</td>
            <td class="product-main__col">{{ product.inner_memory }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Поддержка нескольких SIM-карт/td>
            <td class="product-main__col">{{ product.multiple_sim_support }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Голосовые вызовы</td>
            <td class="product-main__col">{{ product.voice_calls }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Количество ядер</td>
            <td class="product-main__col">{{ product.number_of_cores }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Тактовая частота</td>
            <td class="product-main__col">{{ product.clock_frequency }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Turbo-частота</td>
            <td class="product-main__col">{{ product.turbo_frequency }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Материал корпуса</td>
            <td class="product-main__col">{{ product.body_material }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Цвет корпуса</td>
            <td class="product-main__col">{{ product.body_color }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Вибрация</td>
            <td class="product-main__col">{{ product.vibration }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">3D-экран</td>
            <td class="product-main__col">{{ product.screen_3d }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Карты памяти</td>
            <td class="product-main__col">{{ product.memory_cards }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Камера</td>
            <td class="product-main__col">{{ product.camera }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Основная камера</td>
            <td class="product-main__col">{{ product.main_cam }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Максимальное разрешение видео</td>
            <td class="product-main__col">{{ product.max_video_resolution }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Авто-фокус</td>
            <td class="product-main__col">{{ product.auto_focus }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Фронтальная камера</td>
            <td class="product-main__col">{{ product.front_camera }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Встроенный микрофон</td>
            <td class="product-main__col">{{ product.microphone }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Встроенные динамики</td>
            <td class="product-main__col">{{ product.speakers }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Сканер отпечатка пальца</td>
            <td class="product-main__col">{{ product.fingerprint_reader }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">FM-тюнер</td>
            <td class="product-main__col">{{ product.fm_tuner }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Акселерометр</td>
            <td class="product-main__col">{{ product.accelerometer }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Гироскоп</td>
            <td class="product-main__col">{{ product.gyroscope }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Датчик освещенности</td>
            <td class="product-main__col">{{ product.light_sensor }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Разблокировка по лицу</td>
            <td class="product-main__col">{{ product.face_unlock }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Барометр</td>
            <td class="product-main__col">{{ product.barometer }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Датчик приближения</td>
            <td class="product-main__col">{{ product.proximity_sensor }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Сканер LiDAR</td>
            <td class="product-main__col">{{ product.lidar }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">GPS/A-GPS</td>
            <td class="product-main__col">{{ product.gps }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Электронный компас</td>
            <td class="product-main__col">{{ product.compass }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">MHL</td>
            <td class="product-main__col">{{ product.mhl }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">NFC</td>
            <td class="product-main__col">{{ product.nfc }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Bluetooth</td>
            <td class="product-main__col">{{ product.bluetooth }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">ИК-порт</td>
            <td class="product-main__col">{{ product.ir_port }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Wi-Fi</td>
            <td class="product-main__col">{{ product.wifi }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Сотовая связь</td>
            <td class="product-main__col">{{ product.cellular }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">USB-C</td>
            <td class="product-main__col">{{ product.usb_c }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">HDMI</td>
            <td class="product-main__col">{{ product.hdmi }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Аудиовыход</td>
            <td class="product-main__col">{{ product.audio_output }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Емкость аккумулятора</td>
            <td class="product-main__col">{{ product.battery_capacity }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Запас энергии</td>
            <td class="product-main__col">{{ product.energy_reserve }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Время работы</td>
            <td class="product-main__col">{{ product.working_hours }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Беспроводная зарядка</td>
            <td class="product-main__col">{{ product.wireless_charger }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Ширина</td>
            <td class="product-main__col">{{ product.width }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Длина</td>
            <td class="product-main__col">{{ product.length }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Толщина</td>
            <td class="product-main__col">{{ product.thickness }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Вес</td>
            <td class="product-main__col">{{ product.weight }}</td>
        </tr>
    </tbody>
</table>
