<table class="product-main__table">
    <tbody>
        <tr class="product-main__row">
            <td class="product-main__col">Дата выхода на рынок</td>
            <td class="product-main__col">{{ product.market_date }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Тип</td>
            <td class="product-main__col">{{ product.type }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Диагональ экрана</td>
            <td class="product-main__col">{{ product.screen_diagonal }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Разрешение экрана</td>
            <td class="product-main__col">{{ product.screen_resolution }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Частота матрицы</td>
            <td class="product-main__col">{{ product.matrix_frequency }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Изогнутый экран</td>
            <td class="product-main__col">{{ product.curved_screen }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Поддержка 3D</td>
            <td class="product-main__col">{{ product.support_3d }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Индекс качества изображения</td>
            <td class="product-main__col">{{ product.image_quality_index }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Smart TV</td>
            <td class="product-main__col">{{ product.smart_tv }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Платформа Smart TV</td>
            <td class="product-main__col">{{ product.smart_tv_platform }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Версия системы</td>
            <td class="product-main__col">{{ product.system_version }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Безрамочный дизайн</td>
            <td class="product-main__col">{{ product.frameless_design }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Цвет корпуса</td>
            <td class="product-main__col">{{ product.body_color }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Цвет рамки</td>
            <td class="product-main__col">{{ product.frame_color }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Цвет подставки</td>
            <td class="product-main__col">{{ product.stand_color }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Тип матрицы</td>
            <td class="product-main__col">{{ product.matrix_type }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col"></td>
            <td class="product-main__col">{{ product. }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Глубина цвета</td>
            <td class="product-main__col">{{ product.color_depth }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Локальное затемнение</td>
            <td class="product-main__col">{{ product.local_dimming }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Расширенный динамический диапазон (HDR)</td>
            <td class="product-main__col">{{ product.hdr }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Расширенная цветовая палитра</td>
            <td class="product-main__col">{{ product.extended_color_palette }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Процессор</td>
            <td class="product-main__col">{{ product.cpu }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Голосовое управление</td>
            <td class="product-main__col">{{ product.voice_control }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">ТВ-тюнер</td>
            <td class="product-main__col">{{ product.tv_tuner }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Сабвуфер</td>
            <td class="product-main__col">{{ product.subwoofer }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Мощность звуковой системы</td>
            <td class="product-main__col">{{ product.sound_system_power }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Поддержка HDMI eARC</td>
            <td class="product-main__col">{{ product.hdmi_support }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Bluetooth</td>
            <td class="product-main__col">{{ product.bluetooth }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Wi-Fi</td>
            <td class="product-main__col">{{ product.wifi }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">HDMI</td>
            <td class="product-main__col">{{ product.hdmi }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Версия HDMI</td>
            <td class="product-main__col">{{ product.hdmi_version }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Цифровой выход S/PDIF</td>
            <td class="product-main__col">{{ product.digital_output }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Выход на наушники</td>
            <td class="product-main__col">{{ product.headphone_out }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">USB</td>
            <td class="product-main__col">{{ product.usb }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Ethernet</td>
            <td class="product-main__col">{{ product.ethernet }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">AirPlay</td>
            <td class="product-main__col">{{ product.airplay }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Smart-пульт</td>
            <td class="product-main__col">{{ product.smart_console }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Ширина</td>
            <td class="product-main__col">{{ product.width }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Высота (с учетом подставки)</td>
            <td class="product-main__col">{{ product.height_plus }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Глубина(с учетом подставки)</td>
            <td class="product-main__col">{{ product.depth }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Высота (без подставки)</td>
            <td class="product-main__col">{{ product.height }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Толщина панели</td>
            <td class="product-main__col">{{ product.thickness }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Вес (с подставкой)</td>
            <td class="product-main__col">{{ product.weight_plus }}</td>
        </tr>
        <tr class="product-main__row">
            <td class="product-main__col">Вес (без подставки)</td>
            <td class="product-main__col">{{ product.weight }}</td>
        </tr>
    </tbody>
</table>
