.header{
    height: 81px;
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 100;
}
.logo{
    height: 81px;
    width: auto;
    cursor: pointer;
}
.header__link{
    font-family: 'Bebas Neue', cursive;
    color: #F2ECEC;
    font-size: 21px;
    cursor: pointer;
}
.header__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__item{
    list-style-type: none;
}
.header__cart{
    margin-left: 45px;
}
.cart__count{
    padding-left: 10px;
}
.header__burger{
}
.header__menu{
    transition: all 0.4s ease 0s;
    position: fixed;
    top: -100%;
}
.header__menu.active{
    top: 75px;
}
.header__list_item{
    background-color: black;
}
.header__list_item:hover{
    background-color: #4f4f4f;
}



.main{
    width: 100%;
    height: 100%;
    background-color: #F2ECEC;
}
.main__container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px 0 32px 0;
    flex-wrap: wrap;
}
.main__block{
    width: 310px;
    height: 310px;
    margin: 10px 0 30px 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.38);
    background-color: white;
}
.main__img{
    width: 310px;
    height: 283px;
    background-color: white;
}
.block__title{
    font-family: 'Open Sans', sans-serif;
    color: #241D1D;
    font-size: 20px;
    text-align: center;
    margin: 5px 0 10px 0;
    background-color: white;
}



.contacts{
    height: 100%;
    background-color: #E5CBCB;
}
.contacts__container{
    padding: 16px 0 16px 0;
    display: flex;
    justify-content: space-between;
}
.contacts__block{
    font-family: 'Open Sans', sans-serif;
    color: #241D1D;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contacts__title{
    font-size: 30px;
    margin-bottom: 15px;
}
.contacts__numbers{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: 600;
}
.contacts__number{
    font-family: 'Open Sans', sans-serif;
    color: #241D1D;
    margin-bottom: 5px;
}
.contacts__address{
    font-size: 22px;
    font-weight: 700;
}



.footer{
    height: 40px;
    background-color: #201D1D;
}
.footer__container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer__text{
    font-family: 'Teko', sans-serif;
    font-size: 20px;
    color: #F2F2F2;
}
.footer__r{
    font-size: 24px;
}
