.cart{
    background-color: #F2ECEC;
}
.cart__container{
    padding-bottom: 16px;
    font-family: 'Open Sans', sans-serif;
    color: #241D1D;
}
.cart__your-cart{
    padding-top: 16px;
    text-align: center;
}
.cart__table{
    font-weight: normal;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    margin: 16px auto 0 auto;
}
.cart__table tr{
    border-bottom: 0.5px black solid;
}
.cart__table tr th{
    padding: 28px 0 10px 0;
}
.cart__table tr:last-child th{
    padding: 28px 0;
}
.cart__table tbody tr:last-child{
    border-bottom: none;
}
.cart__head{
    font-weight: 600;
    font-size: 20px;
}
.cart__col-title{
    width: 17%;
}
.cart__col-img{
    width: 21%;
}
.cart__col-price{
    width: 13%;
}
.cart__col-qty{
    width: 20%;
}
.cart__col-total-price{
    width: 13%;
}
.cart__col-delete{
    width: 16%;
}
.cart__qty{
    margin-left: -6px;
    border-left: 2px #A4341B solid;
    padding: 7px 0 7px 0;
    text-align: center;
    background: #D76730;
    width: 32px;
    font-size: 22px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    color: #241D1D;
}
.cart__button{
    font-size: 22px;
    padding: 7px 18px 7px 18px;
    background: #D76730;
    color: #241D1D;
    font-weight: 500;
}
.fs-20{
    font-size: 20px;
}
.fw-500{
    font-weight: 500;
}
.fw-600{
    font-weight: 600;
}
.cart__go-to-checkout{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #30821E;
    padding: 7px 18px 7px 18px;
    font-size: 20px;
    font-weight: 600;
    width: 180px;
    margin: 10px auto 0 auto;
}