.breadcrumb{
    background-color: #F2ECEC;
}
.breadcrumb__container{
    padding: 7px 0 7px 0;
}
.breadcrumb__view{
    display: flex;
}
.breadcrumb__home{
    color: #241D1D;
}
.breadcrumb__item{
    list-style-type: none;
    font-family: 'Open Sans', sans-serif;
    color: #241D1D;
    font-size: 20px;
    font-weight: 600;
    font-style: italic;
}
.breadcrumb__slash:after,.breadcrumb__slash:before{
    content: "-";
    color: transparent;
}
.breadcrumb__slash, .breadcrumb__last-item{
    color: #736B6B;
}
.breadcrumb__line{
    margin-top: 6px;
    height: 1px;
    width: 100%;
    background-color: #F2ECEC;
    box-shadow: 0 0 10px rgba(0,0,0,0.55);
}



.products{
    width: 100%;
    height: 100%;
    background-color: #F2ECEC;
}
.products__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0 16px 0;
    flex-wrap: wrap;
}
.products__block{
    height: auto;
    margin: 10px 0 10px 0;
    width: 250px;
    font-family: 'Open Sans', sans-serif;
    box-shadow: 0 0 10px rgba(0,0,0,0.38);
}
.products__image{
    width: 250px;
    height: 200px;
}
.pl-10{
    padding-left: 10px;
}
.pb-7{
    padding-bottom: 7px;
}
.products__title{
    font-size: 21px;
    font-weight: 700;
    color: #241D1D;
}
.products__price{
    font-size: 19px;
    font-weight: 600;
    color: #332929;
    padding-bottom: 25px;
}
.products__add-to-cart{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100%;
    background: #D73535;
    color: #241D1D;
    font-weight: 700;
}
.products__button{
    font: inherit;
    background-color: transparent;
}
