.product-main{
    background-color: #F2ECEC;
    padding: 16px 0 16px 0;
}
.product-main__container{
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.product-main__top-block{
    padding-top: 25px;
    display: flex;
    margin: 0 55px 0 55px;
}
.product-main__image{
    width: 325px;
    height: 285px;
    background-color: white;
}
.product-main__description{
    margin-left: 80px;
    font-family: 'Open Sans', sans-serif;
    color: #241D1D;
    height: 100%;
}
.product-main__title{
    font-size: 30px;
    font-weight: 600;
}
.product-main__briefly{
    margin-top: 25px;
    font-size: 14px;
    font-weight: 400;
}
.product-main__price{
    margin-top: 40px;
    margin-bottom: 28px;
    font-size: 28px;
    font-weight: 500;
}
.product-main__add-to-cart{
    padding: 7px 18px 7px 18px;
    font-size: 19px;
    font-weight: 500;
    background: #D76730;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
}
.product-main__characteristics{
    padding: 50px 50px 10px 50px;
    font-family: 'Open Sans', sans-serif;
    color: #241D1D;
    font-size: 22px;
    font-weight: 500;
}
.product-main__table{
    border-collapse: collapse;
    width: 100%;
}
.product-main__row{
    border-bottom: 0.5px solid #7B7B7B;
}
.product-main__col{
    padding: 5px 0 5px 0;
    width: 50%;
}
.product-main__col:last-child{
    font-weight: 600;
    padding-left: 50px;
}
.product-main__row:last-child{
    border: none;
}
