*{
    outline: 0;
    padding: 0;
    margin: 0;
    border: 0;
    text-decoration:none;
    cursor: default;
}
a:hover{
    cursor: pointer;
}



.container{
    width: 1310px;
    height: 100%;
    margin: 0 auto;
}
